__MEMORIZE THIS SYNTAX!__ It is central to so much of python and often proves confusing for users coming from other languages.

In terms of set notation, python indexing is _left inclusive_, _right exclusive_. If you remember this, you will never go wrong.

In [ ]:
# access items from a list
print('first', z[0])
print('last', z[-1])
print('first 3', z[:3])
print('last 3', z[-3:])
print('middle, skipping every other item', z[5:10:2])

In [ ]:
# iterate over two lists together uzing zip
for item1, item2 in zip(x,y):
    print('first:', item1, 'second:', item2)

In [ ]:
# a cool python trick: list comprehension
squares = [n**2 for n in range(5)]
squares

In [ ]:
# different ways to create dictionaries
d = {'name': 'Ryan', 'age': 33}
e = dict(name='Takaya', age=25)
e

* dictionaries are a series of keys

# NEAT STUFF ABOVE
# CODE TEST BELOW

In [4]:
a = 1
b = "hello"

print(type(a) is int)

True

In [5]:
print(type(b) is int)

False

In [6]:
b.capitalize

In [7]:
b.capitalize()

'Hello'

In [8]:
c = 'World'
print(b + c)
print(a + 2)
print(a + b)

helloWorld
3

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
1/2
type(1/2)

float

In [11]:
round(9/10)

1

In [15]:
x = 100
if x > 0:
    print('Positive Number')
elif x < 0:
    print('Negative Number')
else:
    print('Zero!')

Positive Number

In [16]:
count = 0
while count < 10:
    count += 1
print(count)

10

In [17]:
for i in range(5):
    print(i)

0
1
2
3
4

In [18]:
type(range)

type

In [19]:
range?

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type

In [20]:
l = ['dog','cat','fish']
type(l)

list

In [21]:
l.sort()
l

['cat', 'dog', 'fish']

In [22]:
r = list(range(5))
r

[0, 1, 2, 3, 4]

In [23]:
range(5)

range(0, 5)

In [24]:
while r:
    p = r.pop()
    print('p:', p)
    print('r:', r)

p: 4
r: [0, 1, 2, 3]
p: 3
r: [0, 1, 2]
p: 2
r: [0, 1]
p: 1
r: [0]
p: 0
r: []

In [25]:
r

[]

In [26]:
print(r)

[]

In [28]:
r = list(range(5))

In [29]:
print(r)

[0, 1, 2, 3, 4]

In [30]:
list.append(r)

TypeError: append() takes exactly one argument (0 given)

In [31]:
p = 7
p.append(r)

AttributeError: 'int' object has no attribute 'append'

In [32]:
r.append(7)

In [33]:
print(r)

[0, 1, 2, 3, 4, 7]

In [34]:
r.insert(2,9)

In [35]:
print(r)

[0, 1, 9, 2, 3, 4, 7]

In [36]:
r.remove(0)

In [37]:
print(r)

[1, 9, 2, 3, 4, 7]

In [38]:
r.count(9)

1

In [39]:
x = list(range(5))
y = list(range(10,15))
print(x,y)
z = x + y
z

[0, 1, 2, 3, 4] [10, 11, 12, 13, 14]

[0, 1, 2, 3, 4, 10, 11, 12, 13, 14]

In [40]:
print('first', z[0])
print('last',z[-1])
print('first 3',z[:3])
print('last 3',z[-3:])
print('middle, skipping every other item',z[5:10:2])

first 0
last 14
first 3 [0, 1, 2]
last 3 [12, 13, 14]
middle, skipping every other item [10, 12, 14]

In [42]:
N =len(z)
z[N-1]

14

In [44]:
name = 'Alex Karambelas'
print(name[-4:])

elas

In [45]:
5 in z

False

In [46]:
z[4]='fish'

In [47]:
z

[0, 1, 2, 3, 'fish', 10, 11, 12, 13, 14]

In [49]:
squares = [n**2 for n in range(5)]
squares

[0, 1, 4, 9, 16]

In [50]:
for item1, item2 in zip(x,y):
    print('first:',item1,'second:',item2)

first: 0 second: 10
first: 1 second: 11
first: 2 second: 12
first: 3 second: 13
first: 4 second: 14

In [61]:
a = ('Ryan', 33, True)
b = 'Takaya', 25, False
print(type(b))
name, age, status = a

<class 'tuple'>

In [57]:
print(a[1])

33

In [58]:
print(a)

('Ryan', 33, True)

In [62]:
d = {'name': 'Alex', 'age': 27}
d['name']

'Alex'

In [64]:
d['height']=(5,4)

In [65]:
d[99]='ninety nine'

In [66]:
d

{'name': 'Alex', 'age': 27, 'height': (5, 4), 99: 'ninety nine'}

In [67]:
for k in d:
    print(k,d[k])

name Alex
age 27
height (5, 4)
99 ninety nine

In [71]:
def say_hello_to(name, spanish=False):
    """Say hello in multiple languages"""
    if spanish:
        greeting = 'Hola '
    else:
        greeting = 'Hello '
    return greeting + name

In [73]:
say_hello_to('World',spanish=True)

'Hola World'

In [70]:
say_hello_to(10)

TypeError: must be str, not int